<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="securitySettings" type="Revalee.Service.SecuritySettingsConfigSection, Revalee.Service" />
	</configSections>
	<appSettings>
		<add key="ListenerPrefixes" value="http://+:46200/" />
		<add key="RetryIntervals" value="PT1S, PT1M, PT1H" />
	</appSettings>
	<securitySettings>
		<urlAuthorizations>
			<!-- Allow local web hosting services to request callbacks to URLs that begin with 'localhost'. -->
			<authorize urlPrefix="http://localhost" fromAddresses="127.0.0.1,::1" retries="5" />
			<authorize urlPrefix="https://localhost" fromAddresses="127.0.0.1,::1" retries="5" />
			<!-- Allow the Revalee.SampleSite to request callbacks. Remove if not testing with Revalee.SampleSite. -->
			<authorize urlPrefix="http://localhost:64646/RevaleeTest/" fromAddresses="0.0.0.0/0,::/0" retries="2" />
		</urlAuthorizations>
	</securitySettings>
	<connectionStrings>
		<add name="TaskPersistence" connectionString="" providerName="Microsoft.Isam.Esent" />
	</connectionStrings>
	<runtime>
		<gcServer enabled="true" />
	</runtime>
	<system.diagnostics>
		<sharedListeners>
			<add name="RollingFileLog" type="Revalee.Service.RollingLogFileTraceListener, Revalee.Service" initializeData="Revalee.Service.log" />
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Revalee.Service" />
			<add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener" initializeData="Revalee.Service.LogFile.txt" />
			<add name="XmlWriter" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Revalee.Service.LogFile.xml" />
			<add name="Console" type="System.Diagnostics.ConsoleTraceListener" initializeData="true" />
		</sharedListeners>
		<sources>
			<source name="Revalee.Service" switchName="DefaultSourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="EventLog" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSourceSwitch" value="Information" />
		</switches>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>