<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="securitySettings" type="RevaleeService.SecuritySettingsConfigSection, RevaleeService" />
	</configSections>
	<appSettings>
		<add key="ListenerPrefixes" value="http://+:46200/" />
	</appSettings>
	<securitySettings>
		<urlAuthorizations>
			
			<!-- Allow local web hosting services to request callbacks to URLs that begin with 'localhost'. -->
			<authorize urlPrefix="http://localhost" fromAddresses="127.0.0.1,::1" retries="2" />
			<authorize urlPrefix="https://localhost" fromAddresses="127.0.0.1,::1" retries="2" />
			
			<!-- Allow the RevaleeSampleSite to request callbacks. Remove if not testing with RevaleeSampleSite. -->
			<authorize urlPrefix="http://localhost:64646/RevaleeTest/Callback" fromAddresses="0.0.0.0/0,::/0" retries="3" />
			
		</urlAuthorizations>
	</securitySettings>
	<connectionStrings>
		<add name="TaskPersistence" connectionString="" providerName="Microsoft.Isam.Esent" />
	</connectionStrings>
	<system.diagnostics>
		<sources>
			<source name="RevaleeService" switchValue="Information">
				<listeners>
					<add name="RollingFileLog" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true" />
		<sharedListeners>
			<add name="RollingFileLog" type="RevaleeService.RollingLogFileTraceListener, RevaleeService" initializeData="RevaleeService.log" />
			<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="RevaleeService" />
			<add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener" initializeData="RevaleeServiceLogFile.txt" traceOutputOptions="DateTime" />
			<add name="XmlWriter" type="System.Diagnostics.XmlWriterTraceListener" initializeData="RevaleeServiceLogFile.xml" />
			<add name="Console" type="System.Diagnostics.ConsoleTraceListener" initializeData="true" />
		</sharedListeners>
	</system.diagnostics>
</configuration>